backend:
  name: git-gateway
  local_backend: true
  branch: master
publish_mode: editorial_workflow
media_folder: "static/images"
public_folder: /images
collections:
  - name: "blog" # Used in routes, e.g., /admin/collections/blog
    label: "Blog" # Used in the UI
    folder: "static/content/blog" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - {label: "Slug", name: "slug", widget: "string"}
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Featured Image", name: "thumbnail", widget: "image"}
      - {label: "Blog Body", name: "blog-body", widget: "markdown"}
    
  - name: "listing"
    label: "Listing"
    folder: "static/content/listing"
    create: true
    slug: "{{slug}}"
    identifier_field: address
    fields: 
      - {label: Address, name: address, widget: string}
      - {label: Bio, name: bio, widget: markdown}
      - {label: Price, name: price, widget: string}
      - {label: Listing Image, name: listing-image, widget: image} 
      
  
  # - name: "team"
  #   label: "Team"
  #   folder: "static/content/team"
  #   create: true
  #   slug: "{{slug}}"
  #   identifier_field: name
  #   fields: 
  #     - {label: "Name", name: "name", widget: "string"}
  #     - {label: "Bio", name: "bio", widget: "markdown"}
  #     - {label: "Featured Image", name: "thumbnail", widget: "image"}

  - name: "pages"
    label: "Pages"
    files:
      - label: "Layout"
        name: "layout"
        file: "static/content/layout.md"
        fields:
          - { label: NavRightText, name: nav-right-text, widget: string }
          - { label: NavRightSlug, name: nav-right-slug, widget: string }
          - { label: NavLogo, name: nav-logo, widget: image}
          - label: Navbar Link
            name: navbar-link
            widget: list
            fields:
              - {label: Text, name: text, widget: string}
              - {label: Slug, name: slug, widget: string}
          - label: Footer Column Info
            name: footer-column-info
            widget: list
            fields:
              - {label: Logo, name: logo, widget: image}
              - {label: Address, name: address, widget: string}
              - {label: Phone Number, name: phone-number, widget: string}
          - label: Footer Column Links
            name: footer-column-links
            widget: list
            fields:
              - {label: Text, name: text, widget: string}
              - {label: Slug, name: slug, widget: string}
          - label: Footer Column Social
            name: footer-column-social
            widget: list
            fields:
              - {label: Email, name: email, widget: string}
              - {label: Instagram, name: instagram, widget: string}
              - {label: Facebook, name: facebook, widget: string}
              - {label: Pinterest, name: pinterest, widget: string}
      
      - label: "Home Page"
        name: "homepage"
        file: "static/content/homepage.md"
        fields:
          - {label: Title, name: title, widget: string}
          - {label: Intro, name: intro, widget: markdown}
          - {label: Real Estate Logo, name: real-estate-logo, widget: image}
          - {label: Brokerage Logo, name: brokerage-logo, widget: image}
          - label: Main Highlight Box
            name: main-highlight-box
            widget: object
            fields:
              - {label: Image, name: image, widget: image}
              - {label: Heading, name: heading, widget: string}
              - {label: Body, name: body, widget: string}
              - {label: Action Text, name: action-text, widget: string}
              - {label: Action Slug, name: action-slug, widget: string}
          - label: Slider Images
            name: slider-images
            widget: list
            fields:
              - {label: Image, name: image, widget: image}
              - {label: Description, name: description, widget: string}
              - {label: Slug, name: slug, widget: string}
          - label: Services
            name: services
            widget: list
            fields:
              - {label: Title, name: title, widget: string}
              - {label: Description, name: description, widget: string}
          - label: Featured-Listings
            name: featured-listings
            widget: list
            fields:
              - {label: Address, name: address, widget: string}
              - {label: Price, name: price, widget: string}
              - {label: Photo, name: photo, widget: image}

      - label: "About Us"
        name: "about"
        file: "static/content/about.md"
        fields:
          - {label: Title, name: title, widget: string}
          - {label: JumboImage, name: jumbo-image, widget: image}
          - label: IntroList
            name: intro-list 
            widget: list
            fields: 
              - {label: IntroItem, name: intro-item, widget: markdown}
          - label: Team Member
            name: team-member
            widget: list
            fields:
              - {label: Name, name: name, widget: string}
              - {label: Description, name: description, widget: string}
              - {label: Position, name: position, widget: string}
              - {label: Photo, name: photo, widget: image}
              - {label: Phone Number, name: phone-number, widget: string}
              - {label: Email, name: email, widget: string}
              - {label: Instagram, name: instagram, widget: string}
              - {label: Facebook, name: facebook, widget: string}
          - label: Testimonial
            name: testimonial
            widget: list
            fields:
              - {label: "Customer", name: "customer", widget: "string"}
              - {label: "Body", name: "body", widget: "markdown"}

      - label: "Services"
        name: "services"
        file: "static/content/services.md"
        fields:
          - {label: Intro, name: intro, widget: markdown}
          - label: Service
            name: service
            widget: list
            fields:
              - {label: Title, name: title, widget: string}
              - {label: Description, name: description, widget: markdown}
              - {label: Service Image, name: service-image, widget: image}

      - label: "Contact Us"
        name: "contact"
        file: "static/content/contact.md"
        fields:
          - {label: Office Email, name: email, widget: string}
          - {label: Office Phone Number, name: office, widget: string}
          - {label: Office Address, name: address, widget: string}
          - {label: Instagram, name: instagram, widget: string}
          - {label: Facebook, name: facebook, widget: string}
          - {label: Pinterest, name: pinterest, widget: string}
          - label: Contact
            name: contact
            widget: list
            fields:
              - {label: Name, name: name, widget: string}
              - {label: Title, name: title, widget: string}
              - {label: Phone Number, name: phonenumber, widget: string}
              - {label: Email, name: email, widget: string}
      
      - label: "Listings"
        name: "listings"
        file: "static/content/listings.md"
        fields: 
          - label: Listing
            name: listing
            widget: list
            fields:
              - {label: Address, name: name, widget: string}
              - {label: Description, name: description, widget: string}
              - {label: Price, name: price, widget: string}
              - {label: Photo, name: photo, widget: image}

